
#divCarouselMain {
    display: flex;
    justify-content: center;
    background-color: rgba(230, 230, 250, 0.3);
    height: 28rem;
    width: 80%;
}

#swiperCarousel {
    display: flex;
    margin: 4rem 10%;
    height: 22rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.divSwiperCarouselMain {
    width: 100%;
}

.divCarouselData {
    display: flex;
    flex-direction: column;
}

.labelCarouselTitle {
    font-size: 1.4rem;    
    font-weight: bold;
    margin: 0.5rem auto 0.5rem auto;
    width: 90%;
    padding: 5%;
}

.labelCarouselDescription {
    font-size: 1rem;
    padding: 5%;
    line-height: 1.5rem;
    width: 90%;
    letter-spacing: 1px;
}

.swiper-slide:last-child {
    margin-right: 0;
}

.swiper-button-next,
.swiper-button-prev {              
    --swiper-navigation-top-offset: 20%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: white;
    --swiper-navigation-font-size: 3rem;

    &:hover {
        font-weight: bold;
    }
}

.swiper-pagination-bullet {
    border-radius: 25% !important;
    --swiper-pagination-color:gray;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 40px;
    --swiper-pagination-bullet-height: 8px;
}




